* {
  padding: 0;
  margin: 0;
}

.titleMyTeamsComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem;
}

.titleMyTeamsComponent > p {
  color: var(--textPurple);
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  padding: 0;
  margin: 0;

  width: 2.5rem;
  height: 2.5rem;

  font-size: 1.5rem;
  color: var(--textWhite);
  background: linear-gradient(var(--pink), var(--purple));

  border: none;
  border-radius: 0.75rem;

  outline: none;
}

.button:active {
  background-color: #ccc;
}
.button:hover {
  color: black;
}
